@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$orange:      #F08138;
$yellow:      #E5E948;
$chartreuse:  #B4E948;
$green:       #8FC447;
$turquoise:   #48E9B6;
$cyan:        #48BAE9;
$blue:        #2B92E0;
$purple:      #AA48E9;
$pink:        #E948E7;
$red:         #DC2700;

$primary: $cyan;
$primary-invert: findColorInvert($primary); 

@import '~bulma';
@import 'documentation';
@import 'custom';
