{
  "plugins": [
    "transform-object-rest-spread",
    "syntax-jsx",
    "transform-react-jsx",
    "transform-react-display-name",
    "transform-class-properties"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "compact": false
}